export(plotpolys)
export(rel2abs)
export(Topojson)
export(arc2sp.line)
export(arcs2sp.line)
export(pts.poly.arcs.dist)
export(arclengths)
export(arcp.indx)
export(bitflipper2)
export(prcnt.wthn.idx)
export(topo_poly_to_sp_poly)
